{{#extend "layout"}}
    {{#content "main"}}

        <section class="intro">
            <div class="container">
                <div class="intro__inner">
                    <div class="intro__header">
                        <h1 class="intro__title">Ледозаливочная техника бренда SportIce</h1>
                        <div class="intro__pagination js-intro-pagination">
                            <span class="intro__pagination-number">01</span>
                            <div class="intro__pagination-line">
                                <div class="intro__pagination-line-progress"></div>
                            </div>
                            <span class="intro__pagination-number">03</span>
                        </div>
                        <div class="intro__navigation">
                            <button class="js-prev-slide">
                                <svg>
                                    <use xlink:href="#slider-arrow"></use>
                                </svg>
                            </button>
                            <button class="js-next-slide">
                                <svg>
                                    <use xlink:href="#slider-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="intro__body">
                        <div class="intro__body-wrapper">
                            <div class="intro__img-slider-container">
                                <div class="intro__img-slider swiper">
                                    <div class="swiper-wrapper">
                                        {{#each intro }}
                                            <a class="swiper-slide" href="model.html" data-background="{{this.background}}">
                                                <img class="lazyload" data-src="{{this.img}}" alt="Фото машины">
                                                <span class="intro__img-desc">{{this.text}}</span>
                                            </a>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <div class="intro__text-slider swiper">
                                <div class="swiper-wrapper">
                                    {{#each intro }}
                                        <div class="swiper-slide">{{this.text}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intro__footer">
                        <a class="intro__button button button--white" href="#model">Подберите технику со скидкой 10%</a>
                        <div class="intro__brands">
                            <div class="intro__brand">
                                <div class="intro__brand-check">
                                    <svg>
                                        <use xlink:href="#check-icon"></use>
                                    </svg>
                                </div>
                                <p class="intro__brand-text">новый бренд на российском рынке</p>
                            </div>
                            <div class="intro__brand">
                                <div class="intro__brand-check">
                                    <svg>
                                        <use xlink:href="#check-icon"></use>
                                    </svg>
                                </div>
                                <p class="intro__brand-text">все машины электрические</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features">
            <div class="container">
                <h2 class="features__title section-title">
                    <b>Американское качество</b> &nbsp;по доступной цене с доставкой по всей россии
                </h2>
                <ul class="features__list">
                    {{#each features }}
                        <li class="features__item">
                            <div class="features__img{{#if this.mod }} {{this.mod}}{{/if}}">
                                <img class="lazyload" data-src="{{this.img}}" alt="Приемущество">
                            </div>
                            <div class="features__content">
                                <h3 class="features__item-title">{{this.title}}</h3>
                                <div class="features__text-block">
                                    <p class="features__text">{{this.text}}</p>
                                    <div class="features__property">
                                        <span class="features__value">{{this.property}}</span>
                                        <span class="features__desc">{{this.desc}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="models js-block-to-reveal">
            <div class="wide-container wide-container--without-padding">
                <div class="models__inner">
                    <h2 class="models__title">Модельный ряд</h2>
                    <div class="models__wrapper">
                        <div class="models__list-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each models }}
                                    <div class="models__list-slide swiper-slide" data-background="{{this.background}}">
                                        <h3 class="models__list-title">{{this.title}}</h3>
                                        <p class="models__list-text">{{{this.text}}}</p>
                                        <div class="models__list-img">
                                            <img class="lazyload" data-src="{{this.img}}" alt="Фото модели">
                                        </div>
                                        {{#if tag }}
                                            <span class="models__list-tag js-model-tag">{{this.tag}}</span>
                                        {{/if}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="models__property-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each models }}
                                    <div class="models__property-slide swiper-slide">
                                        <div class="models__property-check-block">
                                            <div class="models__property-check">
                                                <svg>
                                                    <use xlink:href="#check-icon"></use>
                                                </svg>
                                            </div>
                                            <span class="models__property-check-desc">большая ширина ножа</span>
                                        </div>
                                        <div class="models__buttons">
                                            <a class="models__button button button--red" href="#model">Заказать</a>
                                            <a class="models__link" href="model.html">Подробнее</a>
                                        </div>
                                        <ul class="models__property-list">
                                            {{#each properties }}
                                                <li class="models__property-item {{this.mod}}"
                                                    style="left: {{this.left}}; top: {{this.top}}">
                                                    <div class="models__property-content">
                                                        <span class="models__property-value">{{{this.value}}}</span>
                                                        <span class="models__property-desc">{{{this.desc}}}</span>
                                                    </div>
                                                    {{#if view1 }}
                                                        <svg width="4.8rem" height="14.2rem" viewBox="0 0 48 142" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <symbol id="line{{id}}">
                                                                <path fill="none" d="M0 1H32V117"/>
                                                            </symbol>
                                                            <mask id="mask{{id}}">
                                                                <use class="mask" xlink:href="#line{{id}}" stroke="#fff"/>
                                                            </mask>
                                                            <use class="dashed" xlink:href="#line{{id}}" mask="url(#mask{{id}})"
                                                                 stroke="#000" stroke-dasharray="3 3" opacity="1"/>
                                                            <g class="circle">
                                                                <circle cx="34.5" cy="128.5" r="13.5" fill="#FCFDFF"/>
                                                                <circle cx="34.5" cy="128.5" r="4.5" fill="#AE261E"/>
                                                            </g>
                                                        </svg>
                                                    {{else if view2 }}
                                                        <svg width="16.7rem" height="17.2rem" viewBox="0 0 167 172" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <symbol id="line{{id}}">
                                                                <path fill="none" d="M167 1H13V148"/>
                                                            </symbol>
                                                            <mask id="mask{{id}}">
                                                                <use class="mask" xlink:href="#line{{id}}" stroke="#fff"/>
                                                            </mask>
                                                            <use class="dashed" xlink:href="#line{{id}}" mask="url(#mask{{id}})"
                                                                 stroke="#000" stroke-dasharray="3 3" opacity="1"/>
                                                            <g class="circle">
                                                                <circle cx="13.5" cy="158.5" r="13.5" fill="#FCFDFF"/>
                                                                <circle cx="13.5" cy="158.5" r="4.5" fill="#AE261E"/>
                                                            </g>
                                                        </svg>
                                                    {{else if view3 }}
                                                        <svg width="15.4rem" height="13.2rem" viewBox="0 0 154 132" fill="none">
                                                            <symbol id="line{{id}}">
                                                                <path fill="none" d="M1.86353 0.976096L1.00005 117.404L118.814 118.277"/>
                                                            </symbol>
                                                            <mask id="mask{{id}}">
                                                                <use class="mask" xlink:href="#line{{id}}" stroke="#fff"/>
                                                            </mask>
                                                            <use class="dashed" xlink:href="#line{{id}}" mask="url(#mask{{id}})"
                                                                 stroke="#0F1926" stroke-dasharray="3 3" opacity="1"/>
                                                            <g class="circle">
                                                                <circle cx="140.5" cy="118.5" r="13.5" fill="#FCFDFF"/>
                                                                <circle cx="140.5" cy="118.5" r="4.5" fill="#AE261E"/>
                                                            </g>
                                                        </svg>
                                                    {{else if view4 }}
                                                        <svg width="5.7rem" height="18.2rem" viewBox="0 0 57 182" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <symbol id="line{{id}}">
                                                                <path fill="none" d="M57 181H11V27"/>
                                                            </symbol>
                                                            <mask id="mask{{id}}">
                                                                <use class="mask" xlink:href="#line{{id}}" stroke="#fff"/>
                                                            </mask>
                                                            <use class="dashed" xlink:href="#line{{id}}" mask="url(#mask{{id}})"
                                                                 stroke="#000" stroke-dasharray="3 3" opacity="1"/>
                                                            <g class="circle">
                                                                <circle cx="13.5" cy="13.5" r="13.5" fill="#FCFDFF"/>
                                                                <circle cx="13.5" cy="13.5" r="4.5" fill="#AE261E"/>
                                                            </g>
                                                        </svg>
                                                    {{/if}}
                                                </li>
                                            {{/each}}
                                        </ul>
                                        <div class="models__property-img">
                                            <img class="lazyload" data-src="{{this.img}}" alt="Фото модели">
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews js-block-to-reveal" id="reviews">
            <div class="container">
                <div class="reviews__inner js-init-slider-container">
                    <h2 class="reviews__title section-title">Отзывы клиентов</h2>
                    <div class="reviews__slider swiper">
                        <div class="reviews__inner_items swiper-wrapper">
                            {{#each reviews }}
                                <div class="swiper-slide">
                                    <blockquote class="reviews__item">
                                        <div class="reviews__item-graphic-block">
                                            <a class="reviews__item-graphic{{#if video }} reviews__item-graphic--video{{/if}}" data-fancybox data-src="{{this.src}}">
                                                <img class="lazyload" data-src="{{this.img}}" alt="Фото отзыва">
                                            </a>
                                        </div>
                                        <h3 class="reviews__item-title">{{this.title}}</h3>
                                        <p class="reviews__item-text">{{this.text}}</p>
                                        <cite class="reviews__item-author">{{this.author}}</cite>
                                        <span class="reviews__item-position">{{this.position}}</span>
                                    </blockquote>
                                </div>
                            {{/each}}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    {{> slider-navigation buttonMod='slider-navigation__button--bordered-dark' }}
                </div>
            </div>
        </section>
        <section class="order js-block-to-reveal">
            <div class="wide-container">
                <div class="order__wrapper" style="background: url('img/order-bg.jpg') no-repeat center; background-size: cover;">
                    <div class="order__img-wrapper">
                        <img class="order__img lazyload" data-src="img/person.png" alt="Персона">
                    </div>
                    <div class="order__content">
                        <h2 class="order__title">получите консультацию нашего эксперта</h2>
                        <form class="order__form" action="" data-need-validation="true" novalidate>
                            <div class="order__input-wrapper">
                                <input class="order__input input input--light" id="orderName" type="text" name="name" required>
                                <label for="orderName">Ваше имя</label>
                            </div>
                            <div class="order__input-wrapper">
                                <input class="order__input input input--light js-phone-input" id="orderPhone" type="tel" name="phone" data-parsley-phone required>
                                <label for="orderPhone">Ваш телефон</label>
                            </div>
                            <button class="order__button button button--white" type="submit">
                                <span>Отправить</span>
                                <svg>
                                    <use xlink:href="#letter-icon"></use>
                                </svg>
                            </button>
                        </form>
                        <p class="order__confidence">
                            <span>Нажимая кнопку «Отправить» вы соглашаетесь с <a href="#">политикой конфиденциальности</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery js-block-to-reveal">
            <div class="container">
                <h2 class="gallery__title section-title">Медиагалерея</h2>
            </div>
            <div class="wide-container">
                <div class="gallery__inner js-init-slider-container">
                    <div class="swiper js-init-slider" data-watch-overflow="true">
                        <div class="swiper-wrapper">
                            <ul class="gallery__list swiper-slide">
                                {{#each gallery }}
                                    <li class="gallery__item">
                                        <a class="gallery__link{{#if video }} gallery__link--video{{/if}}" data-fancybox="gallery"
                                           data-src="{{this.src}}" href="#">
                                            <img class="lazyload" data-src="{{this.img}}" alt="Фото">
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                            <ul class="gallery__list swiper-slide">
                                {{#each gallery }}
                                    <li class="gallery__item">
                                        <a class="gallery__link{{#if video }} gallery__link--video{{/if}}" data-fancybox="gallery"
                                           data-src="{{this.src}}" href="#">
                                            <img class="lazyload" data-src="{{this.img}}" alt="Фото">
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{> slider-navigation buttonMod='slider-navigation__button--dark' }}
                    <div class="gallery__mobile-list-container card-slider-container">
                        <ul class="gallery__mobile-list card-slider">
                            {{#each gallery }}
                                <li class="gallery__mobile-item card-slider-slide" data-class="{{this.count}}" data-position="{{this.count}}">
                                    <a  class="gallery__link{{#if video }} gallery__link--video{{/if}}" data-fancybox="gallery-mobile" data-src="{{this.src}}">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото">
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                        <button class="gallery__mobile-prev card-slider-prev">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                        <button class="gallery__mobile-next card-slider-next">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                        <div class="gallery__mobile-dots card-slider-dots">
                            {{#each gallery }}
                                <button class="{{#if active }}active{{/if}}" data-class="{{this.count}}"></button>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="map js-block-to-reveal">
            <div class="container">
                <h2 class="map__title section-title">Сервисные центры во&nbsp;всех уголках страны</h2>
                <div class="map__cities swiper">
                    <div class="swiper-wrapper">
                        {{#each mapCircles }}
                            <div class="map__cities-slide swiper-slide{{#if active}} active{{/if}}">
                                {{this.name}}
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="map__wrapper">
                    <div class="map__img">
                        <img class="lazyload" data-src="img/map.svg" alt="Карта России">
                        <div class="map__circles">
                            {{#each mapCircles }}
                                <div class="map__circle" style="left: {{this.left}}; top: {{this.top}}">
                                    <span class="map__circle-name">{{this.name}}</span>
                                    <div class="map__circle-icon"></div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="map__slider-container card-slider-container">
                        <div class="map__slider card-slider">
                                {{#each mapCircles }}
                                    <div class="map__slide card-slider-slide" data-position="{{this.count}}" data-class="{{this.count}}">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото">
                                    </div>
                                {{/each}}
                        </div>
                        <button class="map__slider-prev card-slider-prev">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                        <button class="map__slider-next card-slider-next">
                            <svg>
                                <use xlink:href="#slider-arrow"></use>
                            </svg>
                        </button>
                        <div class="map__slider-dots card-slider-dots">
                            {{#each mapCircles }}
                                <button class="{{#if active}}active{{/if}}" data-class="{{this.count}}"></button>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <ul class="map__features">
                    {{#each mapFeatures }}
                        <li class="map__feature">
                            <div class="map__feature-icon">
                                <img class="lazyload" data-src="{{this.img}}" alt="Иконка преимущества">
                            </div>
                            <div class="map__feature-content">
                                <h3 class="map__feature-title">{{this.title}}</h3>
                                <p class="map__feature-text">{{this.text}}</p>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="manufacturer js-block-to-reveal">
            <div class="container">
                <h2 class="manufacturer__title">Производитель</h2>
                <div class="manufacturer__header">
                    <a class="manufacturer__logo" href="#">
                        <img class="lazyload" data-src="img/icons/logo.svg" alt="Логотип">
                    </a>
                    <h3 class="manufacturer__subtitle section-title">sportice поволжье</h3>
                </div>
                <div class="manufacturer__wrapper">
                    <div class="manufacturer__slider-container">
                        <div class="manufacturer__lead">
                            <p>
                                Машиностроительное предприятие выпускает уникальные многофункциональные комбинированные
                                машины на автомобильном шасси малого размера.
                            </p>
                        </div>
                        <div class="manufacturer__slider swiper">
                            <div class="swiper-wrapper">
                                <div class="manufacturer__slide swiper-slide">
                                    <a class="manufacturer__slide-link" data-fancybox="manufacturer" data-src="img/manufacturer-1.jpg">
                                        <img class="lazyload" data-src="img/manufacturer-1.jpg" alt="Фото из производства">
                                    </a>
                                </div>
                                <div class="manufacturer__slide swiper-slide">
                                    <a class="manufacturer__slide-link" data-fancybox="manufacturer" data-src="img/manufacturer-1.jpg">
                                        <img class="lazyload" data-src="img/manufacturer-1.jpg" alt="Фото из производства">
                                    </a>
                                </div>
                                <div class="manufacturer__slide swiper-slide">
                                    <a class="manufacturer__slide-link" data-fancybox="manufacturer" data-src="img/manufacturer-1.jpg">
                                        <img class="lazyload" data-src="img/manufacturer-1.jpg" alt="Фото из производства">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            {{> slider-navigation buttonMod='slider-navigation__button--bordered slider-navigation__button--small' }}
                        </div>
                        <div class="manufacturer__mobile-slider-container card-slider-container">
                            <div class="manufacturer__mobile-slider card-slider">
                                <div class="manufacturer__mobile-slide card-slider-slide" data-position="1" data-class="1">
                                    <img class="lazyload" data-src="img/manufacturer-1.jpg" alt="Фото">
                                </div>
                                <div class="manufacturer__mobile-slide card-slider-slide" data-position="2" data-class="2">
                                    <img class="lazyload" data-src="img/manufacturer-1.jpg" alt="Фото">
                                </div>
                                <div class="manufacturer__mobile-slide card-slider-slide" data-position="3" data-class="3">
                                    <img class="lazyload" data-src="img/manufacturer-1.jpg" alt="Фото">
                                </div>
                            </div>
                            <button class="manufacturer__slider-prev card-slider-prev">
                                <svg>
                                    <use xlink:href="#slider-arrow"></use>
                                </svg>
                            </button>
                            <button class="manufacturer__slider-next card-slider-next">
                                <svg>
                                    <use xlink:href="#slider-arrow"></use>
                                </svg>
                            </button>
                            <div class="manufacturer__slider-dots card-slider-dots">
                                <button class="active" data-class="1"></button>
                                <button data-class="2"></button>
                                <button data-class="3"></button>
                            </div>
                        </div>
                    </div>
                    <ul class="manufacturer__stats">
                        {{#each stats }}
                            <li class="manufacturer__stat">
                                <span class="manufacturer__stat-title">{{this.title}}</span>
                                <p class="manufacturer__stat-text">{{{this.text}}}</p>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>
        <section class="contacts js-block-to-reveal">
            <div class="container">
                <h2 class="contacts__title section-title">Свяжитесь с нами</h2>
                <div class="contacts__wrapper">
                    <div class="contacts__content">
                        <div class="contacts__consultant">
                            <span class="contacts__consultant-live-mobile">Работаем сейчас</span>
                            <a href="tel:+78000008888" class="contacts__consultant-phone">8 800 000-88-88</a>
                            <div class="contacts__consultant-wrapper">
                                <div class="contacts__consultant-img">
                                    <img class="lazyload" data-src="img/consultant.jpg" alt="Консультант">
                                </div>
                                <div class="contacts__consultant-content">
                                    <div class="contacts__consultant-content-wrapper">
                                        <div class="contacts__consultant-content-text">
                                            <h3 class="contacts__consultant-title">Алёна Аношина</h3>
                                            <p class="contacts__consultant-desc">Позвоните для консультации эксперту компании</p>
                                        </div>
                                        <span class="contacts__consultant-live">Работаем сейчас</span>
                                    </div>
                                    <div class="contacts__consultant-links">
                                        <a class="contacts__consultant-link" href="tel:+78000008888">8 800 000-88-88</a>
                                        <a class="contacts__consultant-link" href="mailto:nms@sportlp.ru">nms@sportlp.ru</a>
                                    </div>
                                </div>
                            </div>
                            <a class="contacts__consultant-call button button--red" href="#consult">
                                <span>Заказать звонок</span>
                                <img src="img/call-icon.svg" alt="Иконка звонка">
                            </a>
                            <div class="contacts__consultant-email-block">
                                <a class="contacts__consultant-email-link" href="mailto:nms@sportlp.ru">nms@sportlp.ru</a>
                                <address class="contacts__consultant-email-address">420141, г. Казань, ул. Кул Гали, 7Б</address>
                            </div>
                        </div>
                        <div class="contacts__info">
                            <a class="contacts__info-link" href="#">
                                <span>Пишите прямо сейчас, мы онлайн</span>
                                <svg>
                                    <use xlink:href="#whatsapp-green-icon"></use>
                                </svg>
                            </a>
                            <address class="contacts__info-address">420141, г. Казань, ул. Кул Гали, 7Б</address>
                        </div>
                        <h3 class="contacts__subtitle">Закажите звонок</h3>
                        <form class="contacts__form" data-need-validation="true" action="#">
                            <div class="contacts__input-wrapper">
                                <input class="contacts__input input input--dark js-phone-input" id="contactsPhone" type="tel" name="contactsPhone" data-parsley-phone required>
                                <label for="contactsPhone">Ваш телефон</label>
                            </div>
                            <button class="contacts__button button button--red" type="submit">
                                <span>Отправить</span>
                                <svg>
                                    <use xlink:href="#letter-icon"></use>
                                </svg>
                            </button>
                        </form>
                        <p class="contacts__confidence">
                            <span>Нажимая кнопку «Отправить» вы соглашаетесь с <a href="#">политикой конфиденциальности</a></span>
                        </p>
                    </div>
                    <div class="contacts__map" id="contact-map">

                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}