{{#extend "layout"}}
    {{#content "main"}}

        <section class="model-card">
            <div class="wide-container">
                <div class="model-card__wrapper">
                    <div class="model-card__img">
                        <div class="model-card__img-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each modelImages }}
                                    <div class="model-card__img-slide swiper-slide">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото машины">
                                    </div>
                                {{/each}}
                            </div>
                            {{> slider-navigation buttonMod='slider-navigation__button--bordered-dark slider-navigation__button--very-small' }}
                        </div>
                        <div class="model-card__sub-img-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each modelImages }}
                                    <div class="model-card__sub-img-slide swiper-slide">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото машины">
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="model-card__content">
                        <h1 class="model-card__title">
                            <span>Kodiak</span>
                            <span class="model-card__title-tag">хит продаж</span>
                        </h1>
                        <span class="model-card__lead">
                            <img src="img/cup-icon.svg" alt="Иконка кубка">
                            <span>Для достижения высоких целей</span>
                        </span>
                        <div class="model-card__desc">
                            <p>
                                Машина для шлифовки льда Sport Ice Kodiak предназначена для использования на всех
                                больших (НХЛ или олимпийских) ледовых покрытиях.
                            </p>
                        </div>
                        <button class="model-card__button button button--red">Заказать</button>
                    </div>
                </div>
                <ul class="model-card__features">
                    {{#each features }}
                        <li class="model-card__feature">
                            <img class="model-card__feature-icon" src="{{this.img}}" alt="">
                            <p class="model-card__feature-text">{{{this.text}}}</p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="model-info">
            <div class="container">
                <div class="model-info__tabs">
                    <a class="model-info__tab" href="#">Габариты и характеристики</a>
                    <a class="model-info__tab" href="#">Комплектация</a>
                </div>
                <div class="model-info__tabs-contents">
                    <div class="model-info__tabs-content">
                        <div class="model-info__img-wrapper">
                            <div class="model-info__img-block">
                                <img src="img/model-info-1.svg" alt="Фото чертежа модели">
                                <ul class="model-info__img-properties">
                                    {{#each properties1 }}
                                        <li class="model-info__img-property{{#if red}} model-info__img-property--red{{/if}}" style="left: {{this.left}}; top: {{this.top}}">
                                            <span class="model-info__img-property-title">{{this.title}}</span>
                                            <span class="model-info__img-property-text">{{this.text}}</span>
                                            {{this.svg}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="model-info__img-block">
                                <img src="img/model-info-2.svg" alt="Фото чертежа модели">
                                <ul class="model-info__img-properties">
                                    {{#each properties2 }}
                                        <li class="model-info__img-property{{#if red}} model-info__img-property--red{{/if}}" style="left: {{this.left}}; top: {{this.top}}">
                                            <span class="model-info__img-property-title">{{this.title}}</span>
                                            <span class="model-info__img-property-text">{{this.text}}</span>
                                            {{this.svg}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="model-info__tabs-content"></div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}