{{#extend "layout"}}
    {{#content "main"}}

        <section class="model-card">
            <div class="wide-container">
                <div class="model-card__wrapper">
                    <div class="model-card__img">
                        <div class="model-card__img-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each modelImages }}
                                    <div class="model-card__img-slide swiper-slide">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото машины">
                                    </div>
                                {{/each}}
                            </div>
                            {{> slider-navigation buttonMod='slider-navigation__button--bordered-dark slider-navigation__button--very-small' }}
                        </div>
                        <div class="model-card__sub-img-slider swiper">
                            <div class="swiper-wrapper">
                                {{#each modelImages }}
                                    <div class="model-card__sub-img-slide swiper-slide">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото машины">
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="model-card__content">
                        <h1 class="model-card__title">
                            <span>Kodiak</span>
                            <span class="model-card__title-tag">хит продаж</span>
                        </h1>
                        <span class="model-card__lead">
                            <img src="img/cup-icon.svg" alt="Иконка кубка">
                            <span>Для достижения высоких целей</span>
                        </span>
                        <div class="model-card__desc">
                            <p>
                                Машина для шлифовки льда Sport Ice Kodiak предназначена для использования на всех
                                больших (НХЛ или олимпийских) ледовых покрытиях.
                            </p>
                        </div>
                        <button class="model-card__button button button--red">Заказать</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <ul class="model-card__features">
                    {{#each features }}
                        <li class="model-card__feature">
                            <img class="model-card__feature-icon" src="{{this.img}}" alt="">
                            <p class="model-card__feature-text">{{{this.text}}}</p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="model-info js-block-to-reveal">
            <div class="container">
                <div class="model-info__tabs">
                    <a class="model-info__tab" href="#characteristics">Габариты и характеристики</a>
                    <a class="model-info__tab" href="#equipment">Комплектация</a>
                </div>
            </div>
            <div class="model-info__tabs-contents">
                <div class="model-info__tabs-content model-info__tabs-content--characteristics">
                    <div class="container">
                        <div class="model-info__img-wrapper">
                            <div class="model-info__img-block">
                                <img src="img/model-info-1.svg" alt="Фото чертежа модели">
                            </div>
                            <div class="model-info__img-block">
                                <img src="img/model-info-2.svg" alt="Фото чертежа модели">
                            </div>
                        </div>
                        <div class="model-info__mobile-img-slider swiper js-init-slider">
                            <div class="swiper-wrapper">
                                <div class="model-info__mobile-img-slide swiper-slide">
                                    <img class="lazyload" data-src="img/mobile-model-info-1.svg" alt="Фото чертежа">
                                </div>
                                <div class="model-info__mobile-img-slide swiper-slide">
                                    <img class="lazyload" data-src="img/mobile-model-info-1.svg" alt="Фото чертежа">
                                </div>
                            </div>
                            <div class="model-info__mobile-img-pagination swiper-pagination"></div>
                        </div>
                        <ul class="model-info__properties">
                            {{#each properties }}
                                <li class="model-info__property{{#if red}} model-info__property--red{{/if}}">
                                    <h3 class="model-info__property-title">{{this.title}}</h3>
                                    <span class="model-info__property-desc">{{this.desc}}</span>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="model-info__buttons">
                            <a class="model-info__consult-button button" href="#">
                                <span>Консультация эксперта</span>
                                <img class="lazyload" data-src="img/expert.png" alt="Фото эксперта">
                            </a>
                            <a class="model-info__doc-button button button--red-border" download>
                                <span>Техническая документация</span>
                                <img class="lazyload" data-src="img/doc-icon.svg" alt="Фото эксперта">
                            </a>
                        </div>
                        <div class="model-info__characteristic-slider swiper">
                            <ul class="model-info__characteristics swiper-wrapper">
                                {{#each characteristics }}
                                    <li class="model-info__characteristics-item swiper-slide">
                                        <h3 class="model-info__characteristics-title">
                                            <img src="{{this.icon}}" alt="Иконка характеристики">
                                            <span>{{this.title}}</span>
                                        </h3>
                                        <ul class="model-info__characteristics-list">
                                            {{#each this.list }}
                                                <li class="model-info__characteristics-list-item">
                                                    <span class="model-info__characteristic">{{this.characteristic}}</span>
                                                    <span class="model-info__characteristics-value">{{this.value}}</span>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                {{/each}}
                            </ul>
                            <div class="model-info__characteristics-pagination swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="model-info__tabs-content model-info__tabs-content--equipment">
                    <div class="container">
                        <div class="model-info__equipment">
                            <h3 class="model-info__equipment-title">Стандартная комплектация</h3>
                            <p class="model-info__equipment-desc">Перечень оборудования входящий в стандартную
                                комплектацию модели</p>
                            <ul class="model-info__equipment-list">
                                {{#each equipment }}
                                    <li class="model-info__equipment-item">{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="wide-container">
                        <div class="model-info__options">
                            <h3 class="model-info__options-title">Дополнительные опции</h3>
                            <p class="model-info__options-desc">Вы можете расширить возможности вашей
                                будущей ледозаливочной машины</p>
                            <ul class="model-info__options-list">
                                {{#each options }}
                                    <li class="model-info__options-item">{{{this}}}</li>
                                {{/each}}
                            </ul>
                            <button class="model-info__options-button button">
                                <span>ОБСУДИТЬ с ЭКСПЕРТОМ</span>
                                <img class="lazyload" data-src="img/expert.png" alt="Фото эксперта">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="model-video js-block-to-reveal">
            <div class="wide-container wide-container--without-padding">
                <div class="model-video__wrapper" style="background-color: var(--primary)" background-size: cover;>
                    <a class="model-video__video" data-fancybox data-src="https://youtu.be/Chmycxs_164" href="#">
                        <span class="model-video__video-time">12:10</span>
                        <img class="lazyload" data-src="img/model-video.jpg" alt="Превью видео">
                        <div class="model-video__play">
                            <button class="model-video__play-button video-button"></button>
                            <span>Посмотрите, как это работает</span>
                        </div>
                    </a>
                    <div class="model-video__content">
                        <ul class="model-video__properties">
                            {{#each videoProperties }}
                                <li class="model-video__properties-item">
                                    <span class="model-video__property">{{{this.property}}}</span>
                                    <span class="model-video__value">{{this.value}}</span>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="model-video__text">
                            <p>
                                Машина не предназначена для использования в качестве снегоуборочной машины. Если вы
                                используете машину на открытом катке, вы должны сначала убрать весь свежий снег,
                                скопившийся на поверхности льда, перед тем как использовать шлифовальный станок.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="model-text js-block-to-reveal">
            <div class="container text-container">
                <h2>Пример текстового блока</h2>
                <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех
                    живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль
                    журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                </p>
                <br>
                <p>
                    Эта парадигматическая страна, в которой предложения залетают прямо в рот. Даже всемогущая пунктуация
                    не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая
                    строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.
                </p>
            </div>
        </section>
        <section class="model-features js-block-to-reveal">
            <div class="container">
                <div class="model-features__wrapper">
                    <ul class="model-features__list">
                        {{#each modelFeatures }}
                            <li class="model-features__item">
                                <div class="model-features__icon">
                                    <img class="lazyload" data-src="{{this.icon}}" alt="Иконка преимущества">
                                </div>
                                <h3 class="model-features__title">{{this.title}}</h3>
                                <p class="model-features__text">{{this.text}}</p>
                            </li>
                        {{/each}}
                    </ul>
                    <div class="model-features__slider">
                        <div class="card-slider">
                            {{#each modelFeatures }}
                                <div class="model-features__slide card-slider-slide" data-class="{{this.count}}" data-position="{{this.count}}">
                                    <img class="lazyload" data-src="{{this.img}}" alt="Фото премущества">
                                </div>
                            {{/each}}
                        </div>
                        <span class="card-slider-prev"></span>
                        <span class="card-slider-next"></span>
                    </div>
                </div>
            </div>
        </section>
        <section class="order js-block-to-reveal">
            <div class="wide-container">
                <div class="order__wrapper" style="background: url('img/order-bg-2.jpg') no-repeat center; background-size: cover;">
                    <div class="order__img-wrapper">
                        <img class="order__img lazyload" data-src="img/person.png" alt="Персона">
                    </div>
                    <div class="order__content">
                        <h2 class="order__title">получите консультацию нашего эксперта</h2>
                        <form class="order__form" action="" data-need-validation="true" novalidate>
                            <div class="order__input-wrapper">
                                <input class="order__input input input--light" type="text" name="name" required placeholder="Ваше имя">
                            </div>
                            <div class="order__input-wrapper">
                                <input class="order__input input input--light js-phone-input" type="tel"
                                       name="name" data-parsley-phone required placeholder="Ваш телефон">
                            </div>
                            <button class="order__button button button--white" type="submit">
                                <span>Отправить</span>
                                <svg>
                                    <use xlink:href="#letter-icon"></use>
                                </svg>
                            </button>
                        </form>
                        <p class="order__confidence">Нажимая кнопку «Отправить» вы соглашаетесь с политикой
                            конфиденциальности</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="model-gallery js-block-to-reveal">
            <div class="container">
                <h2 class="model-gallery__title section-title">Медиагалерея</h2>
            </div>
            <div class="wide-container">
                <div class="model-gallery__slider-container js-init-slider-container">
                    <div class="model-gallery__slider swiper js-init-slider">
                        <div class="swiper-wrapper">
                            <div class="model-gallery__slide swiper-slide">
                                {{#each gallery }}
                                    <a class="model-gallery__link" data-src="{{this.img}}" data-fancybox="gallery">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Фото галлереи">
                                    </a>
                                {{/each}}
                            </div>
                            <div class="model-gallery__slide swiper-slide">
                                {{#each gallery }}
                                    <img class="lazyload" data-src="{{this.img}}" alt="Фото галлереи">
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{> slider-navigation buttonMod='slider-navigation__button--dark' }}
                </div>
            </div>
        </section>
        <section class="contacts js-block-to-reveal">
            <div class="container">
                <h2 class="contacts__title section-title">Свяжитесь с нами</h2>
                <div class="contacts__wrapper">
                    <div class="contacts__content">
                        <div class="contacts__consultant">
                            <span class="contacts__consultant-live-mobile">Работаем сейчас</span>
                            <a href="tel:+78000008888" class="contacts__consultant-phone">8 800 000-88-88</a>
                            <div class="contacts__consultant-wrapper">
                                <div class="contacts__consultant-img">
                                    <img class="lazyload" data-src="img/consultant.jpg" alt="Консультант">
                                </div>
                                <div class="contacts__consultant-content">
                                    <div class="contacts__consultant-content-wrapper">
                                        <div class="contacts__consultant-content-text">
                                            <h3 class="contacts__consultant-title">Алёна Аношина</h3>
                                            <p class="contacts__consultant-desc">Позвоните для консультации эксперту компании</p>
                                        </div>
                                        <span class="contacts__consultant-live">Работаем сейчас</span>
                                    </div>
                                    <div class="contacts__consultant-links">
                                        <a class="contacts__consultant-link" href="tel:+78000008888">8 800 000-88-88</a>
                                        <a class="contacts__consultant-link" href="mailto:nms@sportlp.ru">nms@sportlp.ru</a>
                                    </div>
                                </div>
                            </div>
                            <a class="contacts__consultant-call button button--red" href="#">
                                <span>Заказать звонок</span>
                                <img src="img/call-icon.svg" alt="Иконка звонка">
                            </a>
                            <div class="contacts__consultant-email-block">
                                <a class="contacts__consultant-email-link" href="mailto:nms@sportlp.ru">nms@sportlp.ru</a>
                                <address class="contacts__consultant-email-address">420141, г. Казань, ул. Кул Гали, 7Б</address>
                            </div>
                        </div>
                        <div class="contacts__info">
                            <a class="contacts__info-link" href="#">
                                <span>Пишите прямо сейчас, мы онлайн</span>
                                <svg>
                                    <use xlink:href="#whatsapp-green-icon"></use>
                                </svg>
                            </a>
                            <address class="contacts__info-address">420141, г. Казань, ул. Кул Гали, 7Б</address>
                        </div>
                        <h3 class="contacts__subtitle">Закажите звонок</h3>
                        <form class="contacts__form" action="#">
                            <div class="contacts__input-wrapper">
                                <input class="contacts__input input input--dark js-phone-input" type="tel" name="contactsPhone" data-parsley-phone required placeholder="Ваш телефон">
                            </div>
                            <button class="contacts__button button button--red" type="submit">
                                <span>Отправить</span>
                                <svg>
                                    <use xlink:href="#letter-icon"></use>
                                </svg>
                            </button>
                        </form>
                        <p class="contacts__confidence">
                            Нажимая кнопку «Отправить» вы соглашаетесь с политикой конфиденциальности
                        </p>
                    </div>
                    <div class="contacts__map" id="contact-map">

                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}